In [1]:
import pandas as pd
import numpy as np

from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

## Naïve Bayes-2

In [4]:
#url = 'https://archive.ics.uci.edu/ml/mchine-learning-databases/car/car.data'
cols = ['buying','maint','doors','persons','lug_boot','safety','class']

df = pd.read_csv("car.data",names= cols)

In [5]:
df.sample(5)

     buying  maint  doors persons lug_boot safety  class
168   vhigh   high      4       2      big    low  unacc
1702    low    low  5more       2    small    med  unacc
165   vhigh   high      4       2      med    low  unacc
675    high    med      3       2    small    low  unacc
893     med  vhigh      3       2    small   high  unacc

In [6]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [7]:
## select column
fea_ture = ['buying','maint','lug_boot','safety']
df_feature = df[fea_ture]

In [8]:
df_class = df['class']

In [10]:
## Encoding

encoder_feature = OrdinalEncoder()
encoder_class = LabelEncoder()

encoded_feature = encoder_feature.fit_transform(df_feature)
encoded_class = encoder_class.fit_transform(df_class)

In [12]:
encoded_feature[0:4]

array([[3., 3., 2., 1.],
       [3., 3., 2., 2.],
       [3., 3., 2., 0.],
       [3., 3., 1., 1.]])

In [13]:
encoded_class

array([2, 2, 2, ..., 2, 1, 3])

In [14]:
df['class'].value_counts

<bound method IndexOpsMixin.value_counts of 0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: class, Length: 1728, dtype: object>

In [15]:
encoded_df = pd.DataFrame(encoded_feature, columns= fea_ture)
encoded_df['class'] = encoded_class
encoded_df.sample(4)

      buying  maint  lug_boot  safety  class
770      0.0    1.0       1.0     0.0      0
1229     2.0    1.0       1.0     0.0      1
1499     1.0    0.0       1.0     0.0      3
536      0.0    3.0       1.0     0.0      2

In [16]:
encoded_df

      buying  maint  lug_boot  safety  class
0        3.0    3.0       2.0     1.0      2
1        3.0    3.0       2.0     2.0      2
2        3.0    3.0       2.0     0.0      2
3        3.0    3.0       1.0     1.0      2
4        3.0    3.0       1.0     2.0      2
...      ...    ...       ...     ...    ...
1723     1.0    1.0       1.0     2.0      1
1724     1.0    1.0       1.0     0.0      3
1725     1.0    1.0       0.0     1.0      2
1726     1.0    1.0       0.0     2.0      1
1727     1.0    1.0       0.0     0.0      3

[1728 rows x 5 columns]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(encoded_df.iloc[:,:-1],encoded_df.iloc[:,-1],test_size = 0.2)

In [20]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1382, 4), (346, 4), (1382,), (346,))

In [21]:
nb_cat = CategoricalNB()

In [22]:
nb_cat.fit(X_train, y_train)

CategoricalNB()

In [23]:
y_pred = nb_cat.predict(X_test)

In [24]:
confusion_matrix(y_test, y_pred)

array([[ 10,   1,  70,   0],
       [  0,   1,   9,   0],
       [ 11,   1, 229,   5],
       [  2,   0,   3,   4]], dtype=int64)

In [25]:
accuracy_score(y_test, y_pred)

0.7052023121387283